:root {
  --primary: #301c51;
  --secondary: #6a5a85;
  --tertiary: #9d8bb3;
  --quatrinary: #f5d898;
  --light: #fff;
  --dark: #000;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}
body {
  background-color: var(--tertiary);
  min-height: 100vh;
  padding: 0;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* misc */
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
.border-radius {
  border-radius: var(--border-radius);
}
/* background colors */
.bg-dark {
  background-color: var(--primary);
}
.bg-med {
  background-color: var(--secondary);
}
.bg-light {
  background-color: var(--tertiary);
}
.bg-beige {
  background-color: var(--quatrinary);
}
.bg-white {
  background-color: var(--light);
}
.bg-black {
  background-color: var(--dark);
}
.bg-error {
  background-color: var(--error);
}
/* header styles */
.nav-link a {
  text-decoration: none;
  color: var(--quatrinary);
  font-size: 2rem;
  font-weight: 450;
}

/* navbar */
.header {
  border-bottom: 1px solid #e2e8f0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  z-index: 99;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}
.nav-item a {
  color: var(--quatrinary);
  font-weight: bold;
  margin: 0 10 0 10;
}

/* navbar end */
/* buttons */
.btn {
  appearance: button;
  background-color: var(--primary);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.btn:after {
  background-clip: padding-box;
  background-color: var(--secondary);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn:main,
.btn:focus {
  user-select: auto;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn:disabled {
  cursor: auto;
}

.nav-link a:hover {
  color: var(--light);
}
.main {
  outline-color: var(--primary);
  outline-width: 5px;
  outline-style: double;
  margin: auto;
  border-top: 25px solid var(--secondary);
  background-color: rgb(196, 218, 246);
  text-decoration: none;
  max-width: fit-content;
  max-height: 100%;
}
/* forms */

.DreamForm {
  color: #301c30;
}

.form-input {
  width: 600px;
  height: 200px;
  background-color: #ceb7e9;
}
@media only screen and (max-width: 768px) {
  .form-card button span, span {
    font-size: .7rem;
  }
}
.input-style {
  background-color: #ceb7e9;
}
.DreamBtn {
  background-color: #4c2c4c;
  color: white;
  border-radius: 5%;
}

.containerDream {
  display: flex;
  margin: 25px;
  display: inline-block;
  background-color: 9D8BB3;
}

.Form-input {
  width: 100%;
}
.form {
  border: 2px black solid;
}
.flex {
  display: flex;
}
/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 350px;
  min-height: 100px;
  display: grid;
  grid-template-rows: 20px 20px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.form-card {
  margin: 20px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.profile-card {
  min-height: 17rem;
  width: 35%;
}
.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}
.card__text {
  grid-row: 3/4;
  font-weight: 200rem;
  font-size: large;
  color: #000000;
}
.card__text__link {
  grid-row: 4/4;
  font-weight: 500;
  font-size: large;
}
.card__text__link a {
  grid-row: 4/4;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .card__text {
    font-size: medium;
  }
  .card__text__link {
    grid-row: 4/4;
    font-weight: 500;
    font-size: medium;
  }
  .card__text__link {
    grid-row: 4/4;
    font-weight: 500;
    font-size: small;
  }
}
.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}
.card__title__link {
  text-decoration: none;
}
.card__footer {
  grid-row: 4/4;
  font-weight: 300;
  font-size: medium;
  color: #727272;
}
.card__footer__link {
  grid-row: 4/4;
  font-weight: 300;
  color: #727272;
}
.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

/* end card */

/*Pagination */
.pagination {
  display: inline-block;
  height: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;

  border-radius: 40px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
}

.container-page {
  display: inline-block;
  align-items: left;
}

.pageNumbers {
  display: inline-block;
  align-items: center;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  transition: all 0.3s ease;
}

hoverPage {
  color: #fff;
  background-color: --primary;
}

activePage {
  color: #fff;
  background-color: --primary;
}
first-child {
  border-radius: 40px 0 0 40px;
}

last-child {
  border-radius: 0 40px 40px 0;
}

/* LAYOUT */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 92%;
}
/* footer */

.footer {
  margin-top: auto;
  padding: 1rem;
  color: var(--light);
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer,
.header img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.footer,
.header img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* end footer */

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.min-80-vw {
  min-width: 80vw;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* MARGIN/PADDING UTILS */

/* Margin - all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing-one);
}

.m-2 {
  margin: var(--spacing-two);
}

.m-3 {
  margin: var(--spacing-three);
}

.m-4 {
  margin: var(--spacing-four);
}

.m-5 {
  margin: var(--spacing-five);
}

.m-auto {
  margin: auto;
}

/* Margin-bottom */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-one);
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: var(--spacing-three);
}

.mb-4 {
  margin-bottom: var(--spacing-four);
}

.mb-5 {
  margin-bottom: var(--spacing-five);
}

.mb-auto {
  margin-bottom: auto;
}

/* Margin-top */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spacing-one);
}

.mt-2 {
  margin-top: var(--spacing-two);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mt-4 {
  margin-top: var(--spacing-four);
}

.mt-5 {
  margin-top: var(--spacing-five);
}

.mt-auto {
  margin-top: auto;
}

/* Margin-right */

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: var(--spacing-one);
}

.mr-2 {
  margin-right: var(--spacing-two);
}

.mr-3 {
  margin-right: var(--spacing-three);
}

.mr-4 {
  margin-right: var(--spacing-four);
}

.mr-5 {
  margin-right: var(--spacing-five);
}

.mr-auto {
  margin-right: auto;
}

/* Margin-left */

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--spacing-one);
}

.ml-2 {
  margin-left: var(--spacing-two);
}

.ml-3 {
  margin-left: var(--spacing-three);
}

.ml-4 {
  margin-left: var(--spacing-four);
}

.ml-5 {
  margin-left: var(--spacing-five);
}

.ml-auto {
  margin-left: auto;
}

/* Margin - x axis */

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: var(--spacing-three);
  margin-left: var(--spacing-three);
}

.mx-4 {
  margin-right: var(--spacing-four);
  margin-left: var(--spacing-four);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Margin - y axis */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.my-4 {
  margin-top: var(--spacing-four);
  margin-bottom: var(--spacing-four);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Padding - all sides */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing-one);
}

.p-2 {
  padding: var(--spacing-two);
}

.p-3 {
  padding: var(--spacing-three);
}

.p-4 {
  padding: var(--spacing-four);
}

.p-5 {
  padding: var(--spacing-five);
}

.p-auto {
  padding: auto;
}

/* padding-bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: var(--spacing-one);
}

.pb-2 {
  padding-bottom: var(--spacing-two);
}

.pb-3 {
  padding-bottom: var(--spacing-three);
}

.pb-4 {
  padding-bottom: var(--spacing-four);
}

.pb-5 {
  padding-bottom: var(--spacing-five);
}

.pb-auto {
  padding-bottom: auto;
}

/* padding-top */

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: var(--spacing-one);
}

.pt-2 {
  padding-top: var(--spacing-two);
}

.pt-3 {
  padding-top: var(--spacing-three);
}

.pt-4 {
  padding-top: var(--spacing-four);
}

.pt-5 {
  padding-top: var(--spacing-five);
}

.pt-auto {
  padding-top: auto;
}

/* padding-right */

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: var(--spacing-one);
}

.pr-2 {
  padding-right: var(--spacing-two);
}

.pr-3 {
  padding-right: var(--spacing-three);
}

.pr-4 {
  padding-right: var(--spacing-four);
}

.pr-5 {
  padding-right: var(--spacing-five);
}

.pr-auto {
  padding-right: auto;
}

/* padding-left */

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: var(--spacing-one);
}

.pl-2 {
  padding-left: var(--spacing-two);
}

.pl-3 {
  padding-left: var(--spacing-three);
}

.pl-4 {
  padding-left: var(--spacing-four);
}

.pl-5 {
  padding-left: var(--spacing-five);
}

.pl-auto {
  padding-left: auto;
}

/* padding - x axis */

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-3 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-three);
}

.px-4 {
  padding-right: var(--spacing-four);
  padding-left: var(--spacing-four);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

/* Padding - y axis */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}

.py-4 {
  padding-top: var(--spacing-four);
  padding-bottom: var(--spacing-four);
}

.py-5 {
  padding-top: var(--spacing-five);
  padding-bottom: var(--spacing-five);
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

/* FONT UTILS */
/* text colors */
.text-dark {
  color: var(--primary);
}
.text-med {
  color: var(--secondary);
}
.text-light {
  color: var(--tertiary);
}
.text-beige {
  color: var(--quatrinary);
}
.text-white {
  color: var(--light);
}
.text-black {
  color: var(--dark);
}
.text-error {
  color: var(--error);
}
.text-shadow {
  text-shadow: 2px 2px var(--dark);
}
.text-med {
  font-size: 2rem;
}
.text-big {
  font-size: 4rem;
}
.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-error {
  color: var(--error);
}

.text-large {
  font-size: 3rem;
  font-weight: bold;
}
.text-bold {
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .text-large {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
  }
  .mobile-img {
    height: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .text-large {
    font-size: 2rem;
    font-weight: bold;
  }
}
/* BACKGROUND UTILS */

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 0.5%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: 0 0 100%;
}

/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-sm {
    justify-content: space-between;
  }

  .justify-space-around-sm {
    justify-content: space-around;
  }

  .justify-flex-start-sm {
    justify-content: flex-start;
  }

  .justify-flex-end-sm {
    justify-content: flex-end;
  }

  .justify-center-sm {
    justify-content: center;
  }

  .align-stretch-sm {
    align-items: stretch;
  }

  .align-end-sm {
    align-items: flex-end;
  }

  .align-center-sm {
    align-items: center;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-md {
    justify-content: space-between;
  }

  .justify-space-around-md {
    justify-content: space-around;
  }

  .justify-flex-start-md {
    justify-content: flex-start;
  }

  .justify-flex-end-md {
    justify-content: flex-end;
  }

  .justify-center-md {
    justify-content: center;
  }

  .align-stretch-md {
    align-items: stretch;
  }

  .align-end-md {
    align-items: flex-end;
  }

  .align-center-md {
    align-items: center;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  nav {
    width: auto;
    justify-content: flex-end;
  }

  .page-title {
    width: auto;
  }

  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-lg {
    justify-content: space-between;
  }

  .justify-space-around-lg {
    justify-content: space-around;
  }

  .justify-flex-start-lg {
    justify-content: flex-start;
  }

  .justify-flex-end-lg {
    justify-content: flex-end;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .align-stretch-lg {
    align-items: stretch;
  }

  .align-end-lg {
    align-items: flex-end;
  }

  .align-center-lg {
    align-items: center;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-xl {
    justify-content: space-between;
  }

  .justify-space-around-xl {
    justify-content: space-around;
  }

  .justify-flex-start-xl {
    justify-content: flex-start;
  }

  .justify-flex-end-xl {
    justify-content: flex-end;
  }

  .justify-center-xl {
    justify-content: center;
  }

  .align-stretch-xl {
    align-items: stretch;
  }

  .align-end-xl {
    align-items: flex-end;
  }

  .align-center-xl {
    align-items: center;
  }
}
